# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vscode/settings.json
test/*
Lab*/client
Lab*/server
Lab3/client
Lab3/server
Lab3/BrokenClients/client-parent-sigints
Lab3/BrokenClients/client-failed-proceed
Lab3/BrokenClients/client-failed-port
Lab3/BrokenClients/client-failed-challenge
Lab3/BrokenClients/client-child-sigquit
Lab3/BrokenClients/client-child-sigint
Lab3/BrokenClients/client-parent-sigint
Lab3/BrokenClients/client-parent-sigquit
Lab3/BrokenClients/client-wait-on-connect
Lab3/BrokenClients/client-wait-on-handshake
Lab3/BrokenClients/client-failed-secret
Lab4/test
Lab4/testa
Lab4/testso
Lab5/largeFileCat
Lab5/test.file
Lab5/BrokenClients/client-child-sigint
Lab5/BrokenClients/client-child-sigquit
Lab5/BrokenClients/client-failed-challenge
Lab5/BrokenClients/client-failed-port
Lab5/BrokenClients/client-failed-proceed
Lab5/BrokenClients/client-failed-secret
Lab5/BrokenClients/client-parent-sigquit
Lab5/BrokenClients/client-parent-sigint
Lab5/BrokenClients/client-wait-on-connect
Lab5/BrokenClients/client-wait-on-handshake
Lab5/BrokenClients/client-no-tty-tester
Lab5/BrokenClients/testerrors
